#data_vis{
    border: 2px solid lightseagreen;
    border-radius: 10px;
    position:absolute;
    top:48%;
    left:.7%;
    width: 28%;
    height: 50%;
    background-color:'lightgrey';
}
.input-section {
  margin-top: 43px;
  gap: 10px; /* Add space between the textboxes */
  display: flex;
  position: absolute;
}

.input-field {
    max-width: 150px;
}
#data_svg{
    position: absolute;
    top:10%;
    left:-2%
}
#slider{
    position: absolute;
    top:92%;
    left:10%;
    width:88%
}
#switch{
    position: absolute;
    top:3%;
    left:80%;
    z-index:101
}
#color{
    position: absolute;
    top:-1%;
    left:10%;
}
.item h5 {
  font-weight: normal;
}
#colorbarCanvas{
    position:absolute;
    top:90%;
    left:7%;
    
    z-index:101
}
#dataCanvas{
    position:absolute;
    left:120px; 
    top:100px;
    /* z-index:101; */
}
#canvas1{
    position:absolute;
    left:80px; 
    top:80px;
    width:60%
    
}
#file{
    position:absolute;
    top:3%;
    left:59%
}
#colormapSelect{
    position:absolute;
    left:10px; 
    top:2%;
    width:25%;
    height:8%;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* 颜色块样式 */
.color-block {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}

/* 标签样式 */
.label {
  font-size: 14px; /* 根据需要进行设置 */
}
#legendContainer{
    position:absolute;
    left:10px; 
    display: block;
    /* top:350px; */
    width:25%
}
#slice_id{
    position: absolute;
    top:2%;
    left:30%;
    z-index:101
}

#fileloader{
    position: absolute;
    top:2%;
    left:2%;
}
