#input-dataset {
  border: 2px solid lightseagreen;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: .7%;
  padding: 9px;
  width: 28.25%;
  height: 19.5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#input-dataset-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

#fileloader {
  margin-left: 10px; 
  flex-shrink: 0; 
}

h3 {
  margin: 0; 
  font-size: 21.5px; 
}

.input-section {
  margin-top: 140px;
  gap: 7px; /* Add space between the textboxes */
  display: flex;
  position: absolute;
}

.input-field {
    max-width: 95px;
}

.input-fielddepth {
  max-width: 80px;
}

.submit-button {
  background-color: blue; 
  color: white; 
  padding: 4px 15px; 
  font-size: 14px; 
  border-radius: 3px; 
  border: none; 
  margin-top: 60px; 
  display: block; 
  width: 100%; 
  max-width: 75px; 
  margin-left: -100px; 
  cursor: pointer;
}

